body{
    color:aliceblue;
    text-shadow: -1px 0 rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0), 0 1px rgb(0, 0, 0);
    font-family: sans-serif;
    width: 100vh;
    height: 100vh;
    background: linear-gradient(to top, rgb(160, 128, 128), rgb(0, 0, 0));
    
}
#choose{
    margin-left: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap:200px;
}
#main{
    display: none;
}
#wybor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80vh;
    flex-wrap: nowrap;
    text-align: center;
}
.games{
    min-height: 60vh;
    background-color: rgb(0, 0, 0, 0.2);
    min-width: 20vh;
    text-align: center;
    -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.games:hover{
    border-style: solid;
    border-width:1px;
    border-color: aliceblue;
    -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
#next{
    display: flex;
    justify-content: center;
    margin-left: 80vh;
}
#next:hover{
    cursor:pointer;
}
#actualgame{
    display: none;
}
#nazwa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90vh;
    flex-wrap: nowrap;
    text-align: center;
}
